<td class="timecard-employee-id">{{ employeeId }}</td>
<td class="timecard-employee-stage-name">{{ stage }}</td>
<td class="timecard-timein">{{ timein }}</td>
<td class="timecard-timeout">{{ timeout }}</td>
<td class="timecard-tips">{{ tips }}</td>
<td class="timecard-dances">{{ dances }}</td>
<td class="timecard-owed">{{ owed }}</td>
<td class="timecard-champagne">{{ champagne }}</td>
